$font: 'Be Vietnam Pro', sans-serif;

/* Colors */
$color_black: #000;
$color_white: #fff;
$color_orange: #F3603C;
$color_red: #F33C3C;

$text_dark: #242D52;
$text_white: #FCF6F5;

$bp-large: 1110px;
$bp-small: 800px;

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    color: $text_dark;
    font-family: $font;
    overflow-x: hidden;
}


.container{
    margin: 0 auto;
    max-width: $bp-large;
    position: relative;
    width: 95%;
}

.btn_primary{
    background: $color_orange;
    border-radius: 50px;
    border: none;
    box-shadow: 0px 15px 15px -10px #FF9F8E;
    color: $text_white;
    cursor: pointer;
    font: 700 13px/18.99px $font;
    outline: none;
    padding: 13px 32px;

    &:hover{
        opacity: .5;
        transition: all .1s;
    }
}

.btn_secondary{
    background: $color_white;
    border-radius: 50px;
    border: none;
    color: $color_orange;
    cursor: pointer;
    font: 700 13px/18.99px $font;
    outline: none;
    padding: 13px 32px;
    &:hover{
        opacity: .8;
        transition: all .1s;
    }
}

nav .container{
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
    position: relative;

    @media only screen and (max-width: $bp-small) {
        width: 90%;
    }

    &.show{
        .menu{
            background: url("../images/icon-close.svg") center / contain no-repeat;
            position: fixed;
            right: 30px;
            top: 45px;
        }

        ul{
            background: $color_white;
            border-radius: 6px;
            display: flex;
            flex-direction: column;
            gap: 20px;
            left: 50%;
            padding: 40px 0;
            position: fixed;
            text-align: center;
            top: 100px;
            transform: translateX(-50%);
            width: 90%;
            z-index: 20;
        }

        &::before{
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.33%, rgba(0, 0, 0, 0.599049) 99.79%);
            content: "";
            display: block;
            height: 100%;
            left: 0;
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 15;
        }
    }
    >a{
        height: 24px;
        width: 147px;
        img{
            height: 100%;
            object-fit: contain;
            width: 100%;
        }
    }

    ul{
        display: flex;
        gap: 18px;
        list-style-type: none;

        @media only screen and (max-width: $bp-small) {
            display: none;
            li {
                a{
                    font: 700 16px/23.38px $font;
                }
            }
        }

        li{
            a{
                color: $text_dark;
                font: 500 13px/18.99px $font;
                text-decoration: none;
            }
            &:hover{
                opacity: .5;
                transition: all .1s;
            }
        }
    }

    .btn_primary{
        @media only screen and (max-width: $bp-small) {
            display: none;
        }
    }

    .menu{
        background: url("../images/icon-hamburger.svg") center / contain no-repeat;
        border: none;
        cursor: pointer;
        display: none;
        height: 18px;
        outline: none;
        width: 25px;
        z-index: 20;

        @media only screen and (max-width: $bp-small) {
            display: block;
        }
    }

    .tablet{
        position: absolute;
        right: -320px;
        top: -180px;
        z-index: -1;

        @media only screen and (max-width: $bp-small) {
            display: none;
        }
    }

    .tablet_sm{
        display: none;
        position: absolute;
        z-index: -1;
        @media only screen and (max-width: $bp-small) {
            display: block;
            right: -90px;
            top: -70px;
        }
    }
}

main .container{
    align-items: center;
    display: flex;
    margin-top: 78px;

    @media only screen and (max-width: $bp-small) {
        flex-direction: column-reverse;
        margin-top: 0;
        width: 90%;
    }

    >div{
        flex: 1;
    }

    > div:first-of-type{
        @media only screen and (max-width: $bp-small) {
            text-align: center;
        }
        h1{
            font: 700 56px/64px $font;
            letter-spacing: -1px;
            margin-bottom: 27px;
            max-width: 460px;
            @media only screen and (max-width: $bp-small) {
                font: 700 40px/50px $font;
                max-width: none;
            }
        }
        p{
            font: 400 16px/26px $font;
            margin-bottom: 36px;
            max-width: 350px;
            opacity: .5;
            @media only screen and (max-width: $bp-small){
                font: 300 16px/28px $font;
                max-width: none;
            }
        }
    }

    >div:last-of-type{
        max-height: 485px;
        max-width: 540px;
        img{
            height: 100%;
            object-fit: contain;
            width: 100%;
        }
    }
}

#difference_section .container{
    column-gap: 90px;
    display: flex;
    margin-top: 110px;
    position: relative;

    @media only screen and (max-width: $bp-small){
        flex-direction: column;
    }
    > div:first-of-type{
        flex: 1;
        @media only screen and (max-width: $bp-small){
            margin: 0 auto 50px;
            text-align: center;
            width: 90%;
        }
        h2{
            font: 700 40px/44px $font;
            letter-spacing: -.71;
            margin-bottom: 25px;
            @media only screen and (max-width: $bp-small){
                font: 800 30px/45px $font;
            }
        }
        p{
            font: 16px/26px $font;
            max-width: 350px;
            opacity: .5;
            @media only screen and (max-width: $bp-small){
                font: 14px/28px $font;
                max-width: none;
            }
        }
    }

    > div:last-of-type{
        flex: 1;
        > div{
            &:not(:last-of-type){
                margin-bottom: 43px;
            }

            >div{
                align-items: center;
                display: flex;
                gap: 28px;
                margin-bottom: 10px;
                @media only screen and (max-width: $bp-small){
                    background: #FFF0EC;
                    margin-left: 5%;
                }
                span{
                    align-items: center;
                    background: $color_orange;
                    border-radius: 40px;
                    color: $color_white;
                    display: flex;
                    font: 700 16px/23.38px $font;
                    height: 39px;
                    justify-content: center;
                    letter-spacing: -.29px;
                    width: 67px;
                }
                h3{
                    font: 700 16px/23.38px $font;
                    letter-spacing: -.29px;
                }
            }

            >p{
                font: 400 16px/26px $font;
                letter-spacing: -.29px;
                max-width: 445px;
                opacity: .5;
                padding-left: 95px;
                @media only screen and (max-width: $bp-small){
                    font: 400 14px/28px $font;
                    margin: 0 auto;
                    max-width: none;
                    padding-left: 0;
                    width: 90%;
                }
            }
        }
    }

    .tablet{
        left: -680px;
        position: absolute;
        top: 280px;
        z-index: -1;
        @media only screen and (max-width: $bp-small) {
            display: none;
        }
    }

    .tablet_sm{
        display: none;
        position: absolute;
        z-index: -1;
        @media only screen and (max-width: $bp-small) {
            display: block;
            right: -300px;
            top: -460px;
        }
    }
}

#testimonials_section{
    margin: 100px 0;
    overflow: hidden;
    padding: 20px 0;
    position: relative;
    text-align: center;
    @media only screen and (max-width: $bp-small) {
        margin: 40px 0 22px;
    }
    > h2{
        font: 700 40px/44px $font;
        letter-spacing: -.71;
        margin-bottom: 100px;

        @media only screen and (max-width: $bp-small) {
            font: 800 32px/45px $font;
            letter-spacing: -.66px;
        }
    }

    .slider{
        animation: scroll 40s linear infinite;
        display: flex;
        gap: 30px;
        justify-content: center;
        margin-bottom: 50px;
        margin: 0 auto;
        width: calc(540px * 4);

        @media only screen and (max-width: $bp-small) {
            animation: initial;
            flex-direction: column;
            margin-bottom: 26px;
            width: 90%;
        }

        .slide{
            align-items: center;
            background: #fafafa;
            display: flex;
            flex-direction: column;
            height: 220px;
            justify-content: center;
            padding: 0 37px;
            position: relative;
            width: 540px;
            @media only screen and (max-width: $bp-small) {
                display: none;
                height: 284px;
                margin: 0 auto;
                padding-top: 45px;
                width: 100%;

                &.active{
                    display: block;
                }
            }

            img{
                border-radius: 50%;
                height: 72px;
                left: 50%;
                position: absolute;
                top: -36px;
                transform: translateX(-50%);
                width: 72px;
            }
            
            h3{
                font: 700 16px/23.38px $font;
                letter-spacing: -.29px;
                margin: 15px 0 10px;
                @media only screen and (max-width: $bp-small) {
                    margin-bottom: 18px;
                }
            }
            p{
                font: 400 16px/26px $font;
                opacity: .5;
                text-align: center;
            }
        }
    }

    .nav_dots{
        display: none;

        @media only screen and (max-width: $bp-small) {
            display: flex;
            gap: 5px;
            justify-content: center;
            margin-bottom: 47px;
            .dot{
                background: none;
                border-radius: 50%;
                border: 1px solid $color_orange;
                cursor: pointer;
                height: 7px;
                width: 7px;

                &.active{
                    background-color: $color_orange;
                }
            }
        
        }
    }
}

#simplify{
    background-position: center;
    background-size: cover;
    background: $color_orange url("../images/bg-simplify-section-desktop.svg") no-repeat;
    height: 220px;

    @media only screen and (max-width: $bp-small) {
        background-position: 0px 50px;
        background: $color_orange url("../images/bg-simplify-section-mobile.svg") no-repeat;
        height: 405px;
    }

    .container{
        align-items: center;
        display: flex;
        height: 100%;
        justify-content: space-between;
        @media only screen and (max-width: $bp-small) {
            align-items: center;
            flex-direction: column;
            gap: 23px;
            justify-content: center;
        }
        h2{
            color: $color_white;
            font: 700 40px/44px $font;
            letter-spacing: -.71px;
            max-width: 500px;

            @media only screen and (max-width: $bp-small) {
                font: 700 40px/50px $font;
                letter-spacing: -1px;
                text-align: center;
            }
        }
    }
}

footer{
    background: #1D1E25;
    padding: 67px 0;

    @media only screen and (max-width: $bp-small) {
        padding: 52px 0;
    }
    .container{
        column-gap: 10px;
        display: grid;
        grid-template-columns: repeat(4, minmax(min-content, 1fr));
        grid-template-rows: repeat(2, min-content);

        @media only screen and (max-width: $bp-small) {
            grid-template-columns: repeat(2 ,1fr);
            grid-template-rows: repeat(5, min-content);
        }

        ul{
            list-style-type: none;
            li{
                a{
                    color: $color_white;
                    font: 15px/21.92px $font;
                    letter-spacing: -.23px;
                    text-decoration: none;
                    &:hover{
                        color: $color_orange;
                    }
                }
            }
        }

        img{
            grid-row: 1 / 2;
            grid-column: 1 / 2;
            @media only screen and (max-width: $bp-small) {
                align-self: center;
                grid-column: 1 / -1;
                grid-row: 4 / 5;
                justify-self: center;
            }
        }
        .social_links{
            align-items: flex-end;
            display: flex;
            gap: 13px;
            grid-column: 1 / 2;
            grid-row: 2 / 3;
            justify-content: flex-start;
            @media only screen and (max-width: $bp-small) {
                gap: 34px;
                grid-column: 1 / -1;
                grid-row: 3 / 4;
                justify-content: center;
                padding: 50px 0 58px;
            }
            li{
                a{
                    display: block;
                    height: 20px;
                    width: 20px;

                    @media only screen and (max-width: $bp-small) {
                        height: 32px;
                        width: 32px;
                    }

                    img{
                        height: 100%;
                        width: 100%;
                    }

                    &:hover{
                        filter: brightness(0) saturate(100%) invert(60%) sepia(54%) saturate(5470%) hue-rotate(337deg) brightness(98%) contrast(95%);
                    }
                }
            }
        }
        .main_links{
            grid-column: 2 / 3;
            grid-row: 1 / -1;
            @media only screen and (max-width: $bp-small) {
                grid-column: 1 / 2;
                grid-row: 2 /3;
                justify-self: center;
            }
            li{
                &:not(:last-of-type){
                    margin-bottom: 17px;
                }
            }
        }
        .sub_links{
            grid-column: 3 / 4;
            grid-row: 1 / -1;
            @media only screen and (max-width: $bp-small) {
                grid-column: 2 / 3;
                grid-row: 2 / 3;
                justify-self: center;
            }
            li{
                &:not(:last-of-type){
                    margin-bottom: 17px;
                }
            }
        }
        #inbox_form{
            display: flex;
            grid-column: 4 / 5;
            grid-row: 1 / 2;
            justify-content: space-between;
            @media only screen and (max-width: $bp-small) {
                align-items: center;
                gap: 8px;
                grid-column: 1 / -1;
                grid-row: 1 / 2;
                justify-content: center;
                padding-bottom: 58px;
            }

            input{
                border-radius: 22px;
                border: none;
                color: #8d8d8d;
                font: 13px/18.99px $font;
                height: 44px;
                letter-spacing: -.1px;
                outline: none;
                padding: 0 20px;
                width: 200px;
            }

            .error{
                input{
                    color: $color_red;
                    margin-bottom: 7px;
                    outline: 1px solid $color_red;
                    &::placeholder{
                        color: $color_red;
                    }
                }

                .error_msg{
                    color: $color_red;
                    font: 400 italic 10px/14.61px $font;
                    letter-spacing: -.08px;
                    margin-left: 25px;
                }
            }
            button{
                background: $color_orange;
                border-radius: 22px;
                border: none;
                color: $color_white;
                cursor: pointer;
                height: 44px;
                outline: none;
                width: 64px;
                &:hover{
                    filter: brightness(1.7);
                }
            }
        }
        >p{
            align-self: end;
            color: $text_white;
            font: 13px/18.99px $font;
            grid-column: 4 / 5;
            grid-row: 2 / 3;
            letter-spacing: -.2px;
            opacity: .5;
            text-align: right;
            @media only screen and (max-width: $bp-small) {
                align-self: center;
                grid-column: 1 / -1;
                grid-row: 5 / 6;
                justify-self: center;
                padding-top: 53px;
            }
        }
    }
}

@keyframes scroll {
    0%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(-520px);
    }
    100%{
        transform: translateX(0);
    }
}