$font: 'Be Vietnam Pro', sans-serif;

/* Colors */
$color_black: #000;
$color_white: #fff;
$color_orange: #F3603C;

$text_dark: #242D52;
$text_white: #FCF6F5;

$bp-large: 1110px;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: $font;
    color: $text_dark;
}


.container{
    width: 100%;
    max-width: $bp-large;
    position: relative;
    margin: 0 auto;
}

.btn_primary{
    background: $color_orange;
    border: none;
    outline: none;
    border-radius: 50px;
    color: $text_white;
    padding: 13px 32px;
    font: 700 13px/18.99px $font;
    box-shadow: 0px 15px 15px -10px #FF9F8E;
    cursor: pointer;

    &:hover{
        transition: all .1s;
        opacity: .5;
    }
}

nav .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
    position: relative;

    >a{
        height: 24px;
        width: 147px;
        img{
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
    }

    ul{
        display: flex;
        gap: 18px;
        list-style-type: none;
        li{
            a{
                color: $text_dark;
                font: 500 13px/18.99px $font;
                text-decoration: none;
            }
            &:hover{
                transition: all .1s;
                opacity: .5;
            }
        }
    }

    .tablet_1{
        position: absolute;
        right: -320px;
        top: -180px;
        z-index: -1;
    }
}

main .container{
    display: flex;
    align-items: center;
    margin-top: 78px;

    >div{
        flex: 1;
    }

    > div:first-of-type{
        h1{
            font: 700 56px/64px $font;
            letter-spacing: -1px;
            max-width: 460px;
            margin-bottom: 27px;
        }
        p{
            font: 400 16px/26px $font;
            opacity: .5;
            max-width: 350px;
            margin-bottom: 36px;
        }
    }

    >div:last-of-type{
        height: 485px;
        width: 540px;
        img{
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
}